/*
  Learn more:
  https://www.sanity.io/guides/how-to-brand-your-studio
*/

/* Custom fonts */

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');


:root {
  /* Brand colors */
  
  --brand-primary: #662E43;
  --brand-primary--inverted: #ffffff;
  --brand-secondary: #26759F;
  --brand-secondary--inverted: #1B1C1D;
 
  /* Typography */
  
  --font-family-sans-serif: 'Nunito';
  --font-size-base: 16px;
  --text-color: var(--brand-secondary--inverted);
 
  /* Main Navigation */
  
  --main-navigation-color: var(--brand-secondary);
  --main-navigation-color--inverted: var(--brand-primary--inverted);
 
}
